In [1]:
from sklearn.datasets import load_wine
import pandas as pd
import numpy as np
data = load_wine(as_frame=True)
rawdata = pd.read_csv("https://github.com/allisonhorst/palmerpenguins/raw/5b5891f01b52ae26ad8cb9755ec93672f49328a8/data/penguins_size.csv")

rawdata = rawdata.dropna(how='any',axis=0)

labels = rawdata["sex"]
data = rawdata.drop(['sex'],axis=1)
data['species_short'] = data['species_short'].astype('category').cat.codes
data['island'] = data['island'].astype('category').cat.codes

# remove for outliar
# data = data.replace(np.nan, 0)
# labels = labels.replace(np.nan, 0)
data

,species_short,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g
0,0,2,39.1,18.7,181.0,3750.0
1,0,2,39.5,17.4,186.0,3800.0
2,0,2,40.3,18.0,195.0,3250.0
4,0,2,36.7,19.3,193.0,3450.0
5,0,2,39.3,20.6,190.0,3650.0
...,...,...,...,...,...,...
338,2,0,47.2,13.7,214.0,4925.0
340,2,0,46.8,14.3,215.0,4850.0
341,2,0,50.4,15.7,222.0,5750.0
342,2,0,45.2,14.8,212.0,5200.0
343,2,0,49.9,16.1,213.0,5400.0

# regression classification

In [11]:
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
cv = RepeatedStratifiedKFold(n_splits=8, n_repeats=3, random_state=1)
n_scores = cross_val_score(model, data, labels, scoring='accuracy', cv=cv, n_jobs=-1)
print('Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

Accuracy: 0.826 (0.055)

C:\Users\Redio\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=8.
  warnings.warn(
C:\Users\Redio\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=8.
  warnings.warn(
C:\Users\Redio\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=8.
  warnings.warn(

# dimensionality reduction as pre processing

In [12]:
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
steps = [('pca', PCA(n_components=6)), ('m', LogisticRegression())]
model = Pipeline(steps=steps)
cv = RepeatedStratifiedKFold(n_splits=8, n_repeats=3, random_state=1)
n_scores = cross_val_score(model, data, labels, scoring='accuracy', cv=cv, n_jobs=-1)
print('Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

Accuracy: 0.902 (0.044)

C:\Users\Redio\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=8.
  warnings.warn(
C:\Users\Redio\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=8.
  warnings.warn(
C:\Users\Redio\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=8.
  warnings.warn(